includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - optimizations-ace-mc.php
        - includes/

    excludePaths:
        - .github

    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - stubs/woocommerce.php
